@using System.Collections
@model WXSchool.ViewModel.Meeting.RegistrationInfo
@{
    ViewBag.Title = "报名信息预览";
    WXSchool.Model.Meeting.Registrations registration = Model.Registration;
    IEnumerable<WXSchool.Model.Meeting.Participants> participantses = Model.ParticipantList;
}

@section styles{
    <link href="@Url.Content("~/Styles/registrate_preview.css?v=3")" rel="stylesheet" />
}

<div class="block">
    <h2><span>信息预览</span>@*<span class="icon edit">修改</span>*@</h2>
</div>
<div class="block">
    <p><span class="td_1">所在地区：</span><span class="td_2">@(registration.ProvinceName + registration.CityName + registration.CountyName)</span></p>
    <p><span class="td_1">类别：</span><span class="td_2">@(registration.GroupName)</span></p>
    <p><span class="td_1">单位名称(全称)：</span><span class="td_2">@(registration.OrganizationName)</span></p>
    <p><span class="td_1">参会人数：</span><span class="td_2">@(registration.Participants)</span></p>
    <p><span class="td_1">代预定酒店：</span><span class="td_2">@(registration.IsBooking==1?"是":"否")</span></p>
    @if (registration.IsBooking == 1)
    {
        <p><span class="td_1">酒店：</span><span class="td_2">@(registration.HotelName)</span></p>
        <p><span class="td_1">房间数量：</span><span class="td_2">@(registration.BookedRooms)</span></p>
        <p><span class="td_1">住宿天数：</span><span class="td_2">@(registration.LodgingDays)</span></p>
    }
    @*<p><span class="td_1">9日晚留下用餐：</span><span class="td_2">@(registration.HaveMeals == 1 ? "是" : "否")</span></p>*@
    
</div>


    @foreach (var item in participantses)
    {
        <div class="block">
            <p><span class="td_1">@(item.PName == "" ? "未填写" : item.PName)：</span><span class="td_2">@item.Telephone</span></p>
            <p><span class="td_1"></span><span class="td_2">@item.IDCardNo</span></p>
            <p><span class="td_1"></span><span class="td_2">@item.GroupName</span></p>
        </div>
    }
<div class="btn_box">
    <div class="btn_cancel" id="cancel">有误，要修改</div>
    <div class="btn_ok" id="submit">无误，要提交</div>
</div>

    @*<div class="btn_zc">确<em class="em2"></em>定</div>*@

    @section scripts
{
        <script>
            $("#cancel").on("click", function () {
                location.href = '@Url.Action("Registrate",new {registration.RegId})';
            });
            $("#submit").on("click", function () {
                dialog.conform("确认", "提交后，信息将不能再修改", "取消", "提交", function () { }, function () {
                    $.ajax({
                        url: '@Url.Action("Submit")',
                        type: 'post',
                        data: { RegId: '@registration.RegId' },
                        success: function (data) {
                            dialog.alert("操作结果", data.Message, "", function () {
                                if (data.ResultType == 200) {
                                    location.href = '@Url.Action("Index","Pay")';
                                }
                            });
                        }
                    });
                });

            });
        </script>
    }
