<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-三缺一短聘</title>
    <link href="@Url.Content("~/Styles/style.default.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>
        <div class="leftpanel">

            <div class="logopanel" style="padding-left: 15px">
                @*<h1><span>[</span> 三缺一 <span>]</span></h1>*@
                <img src="~/Images/logo.png"/>
            </div><!-- logopanel -->
            <div class="leftpanelinner">
                <ul class="nav nav-pills nav-stacked nav-bracket">
                    <li data-func="/School"><a href="@Url.Action("Index", "School")"><i class="fa fa-home"></i> <span>我的学校</span></a></li>
                    <li data-func="/Student"><a href="#"><i class="fa fa-group"></i> <span>学生管理</span></a></li>
                    <li data-func="/WXConfig"><a href="@Url.Action("Index", "WXConfig")"><i class="fa fa-cogs"></i> <span>机构微信配置</span></a></li>
                </ul>
                
                @*权限菜单控制*@
                @if (ViewBag.RoleType == 90)
                {
                }
                else
                {
                }
            </div>
        </div><!-- leftpanel -->

        <div class="mainpanel">
            <div class="headerbar">
                <a class="menutoggle"><i class="fa fa-bars"></i></a>

                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    @ViewBag.Name
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                    <li><a href="#" data-toggle="modal" data-target="#cpModal"><i class="glyphicon glyphicon-user"></i> 修改密码</a></li>
                                    @*<li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>*@
                                    <li><a href="@Url.Action("Logout", "Account")"><i class="glyphicon glyphicon-log-out"></i> 退　出</a></li>
                                </ul>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                </div><!-- header-right -->
            </div>

            <div class="pageheader">
                <h2><i></i> @ViewBag.Title </h2>
            </div>

            <div class="contentpanel">
                <div class="panel panel-default">
                    @RenderBody()
                </div>
            </div>
        </div><!-- mainpanel -->
        @Html.Partial("_ChangePasswordPartial")
    </section>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/localization-cn.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js?v=3")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
